extends ../layout

block content
    a(href='/bicicletas') Volver

    br
    br
    br

    h1 Nueva Bicicleta

    br
    br

    form(action='./create' method='post')
        label(for="id") ID:
        input(type="text" name='id')
        br
        label(for="color") Color:
        input(type="text" name='color')
        br
        label(for="modelo") Modelo:
        input(type="text" name='modelo')
        br
        label(for="lat") Latitud:
        input(type="text" name='lat')
        br
        label(for="lng") Longitud:
        input(type="text" name='lng')
        br
        br
        input.btn(type="submit", value="OK")
        